h1{
  background-color: #426493;
  font-family: "Courier New", Courier, monospace;
  color: #ffffff;
}

h2{
  background-color: #FF5733;
  font-family: "Courier New", Courier, monospace;
  margin-left: 25px;
  color: #ffffff;
}

#header{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #426493;
}
#content{
  width: 75%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

body{
  font-family: "Courier New", Courier, monospace;
}

#image{
  text-align: center;
}

.color{
  font-weight: bold;
  font-size: 200%;
}
.a{
  color: #426493;
  font-weight: bolder;
}
